<!-- Banner or Jumbotron-->

<!-- <div class="container-fluid jumbotron jumbotron-fluid ">
  
    <div class="container-fluid divbackg">
      
      <div class="text-contain-01">
        <div class="text-contain-02">
          <p>Funky <span>Robot</span></p>
          <p>Things are getting Funky...  but not too funky.  Marvin Gaye kind of funky.</p>
        </div>
      </div>
    </div>
  
</div> -->