<%- include("header")-%>
<%- include("banner")-%>


<div class="container">
  <div>
    <img class="ctf-logo" src="images/starwars.png">
  </div>
  <div>
    <h1 class="display-4">Star Wars - Cruisers</h1>
    <p class="lead">Love, exciting and new. Come aboard, were expecting you. Love, lifes sweetest reward. Let it flow, it floats back to you.
    </p>
    <p class="lead">
      Theeeeeeeeee Love Boat soon will be making another run
      The Love Boat promises something for everyone
      Set a course for adventure
      Your mind on a new romance.
    </p>
  </div>
</div>


<div class="container mt-1 gallery">
  <div class="row gy-1 gx-1">

    <div class="col-lg">
      <div class="box">
        <div class="cart">
          <h5 class="card-title vertical-title">Tie Fighter</h5>
          <img src="images/ship0001.jpg" class="card-img-top press" alt="Tie Fighter">
        </div>
        <div class="card-body">
          <p class="card-text">The TIE Advanced x1 is the Rolls Royce of TIE Fighters. This is an advanced prototype that Darth Vader flew himself.</p>
          <a href="feedback" class="btn btn-warning">Feedback</a>
        </div>
      </div>
    </div>

    <div class="col-lg">
      <div class="box">
        <div class="cart">
          <img src="images/ship0002.jpg" class="card-img-top press" alt="Imperial Destroyer">
        </div>
        <div class="card-body cart">
          <h5 class="card-title vertical-title">Imperial Destroyer</h5>
          <p class="card-text">The first time we saw this mammoth Star Destroyer was in Empire Strikes Back. It comes in at 1.6 kilometers long.</p>
        </div>
      </div>
      <a href="quote" class="btn btn-warning">Feedback</a>
    </div>

    <div class="col-lg">
      <div class="car">
        <img src="images/ship0003.jpg" class="card-img-top press" alt="Imperial Juggernaut">
        <div class="card-body">
          <h5 class="card-title">Imperial Juggernaut</h5>
          <p class="card-text">This shuttle is  for transporting important members of The Empire, like Darth Vader and The Emperor & Royal Guard..</p>
          <a href="quote" class="btn btn-warning">Feedback</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container mt-1 gallery">

  <div class="row gy-1 gx-1">

    <div class="col-lg">
      <div class="car">
        <img src="images/ship0004.jpg" class="card-img-top press" alt="Millenium Falcon">
        <div class="card-body">
          <h5 class="card-title">Millenium Falcon</h5>
          <p class="card-text">An extensively modified Corellian light freighter, the Millennium Falcon is a legend in smuggler circles.</p>
          <a href="feedback" class="btn btn-warning">Feedback</a>
        </div>
      </div>
    </div>

    <div class="col-lg">
      <div class="car">
        <img src="images/ship0005.jpg" class="card-img-top press" alt="Rebel Y-Wing">
        <div class="card-body">
          <h5 class="card-title">Rebel Y-Wing</h5>
          <p class="card-text">The Y-wing is a workhorse starfighter has been in use since the Clone Wars. Used for dogfights.</p>
          <a href="feedback" class="btn btn-warning">Feedback</a>
        </div>
      </div>
    </div>

    <div class="col-lg">
      <div class="car">
        <img src="images/ship0006.jpg" class="card-img-top press" alt="Rebel X-Wing">
        <div class="card-body">
          <h5 class="card-title">Rebel X-Wing</h5>
          <p class="card-text">The X-wing is a versatile Rebel Alliance starfighter that balances speed with firepower. </p>
          <a href="feedback" class="btn btn-warning">Feedback</a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include("footer")-%>