<%- include("header")-%>
<%- include("banner")-%>



<div class="jumbotron mt-5">
  
  <div class="container gallery">
    <div class="contain">
      <div><img class="ctf-logo" src="images/starfleet.png"></div>
    <h1 class="display-4">Star Fleet - Flagships</h1>
    <p class="lead">USS Enterprise is the Flagship of the Federation. The most notable were Captain James T. Kirk's USS Enterprise (NCC-1701-A) and Captain Jean-Luc Picard's USS Enterprise (NCC-1701-D & E).</p>
    </div>
    <div class="row gy-1 gx-1">
  
      <div class="col-lg col-lg-6">
        <div class="card">
          <img src="images/ship0007.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701</h5>
            <p class="card-text">Originally Captained by Christopher Pike but gained Flagship status during Captain Kirk's historical 5-Year Mission.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card">
          <img src="images/ship0008.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701A">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701A</h5>
            <p class="card-text">Commissioned for Captain Spock for another 5-Year Mission.  Boldly going where no one has gone before.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0009.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701B">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701B</h5>
            <p class="card-text">Captained by Peter McPeter.  This ship is most notable for it's inaugural mission that lost Captain James T. Kirk.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0010.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701C">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701C</h5>
            <p class="card-text">Lost in the Romulan invasion of Kitamir.  Captain Barrett sacrificed her ship to defend a Klingon Outpost. </p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>

    </div>
  
  
  
  
  
    <div class="row gy-1 gx-5">
  
      
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0011.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701D">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701D</h5>
            <p class="card-text">Captained by Jean-Luc Picard.  The Galaxy Class Starship was really cool and had a holodeck.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0012.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701E">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701</h5>
            <p class="card-text">Captained by Jean-Luc Picard after Troi crashed the "D".  This awesome ship resisted the Borg & won. </p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
    </div>
  </div>





<%- include("footer")-%>