<%- include("header")-%>
<%- include("banner")-%>



<div class="jumbotron mt-5">
  
  <div class="container gallery">
    <div class="contain">
      <div>
        <img class="ctf-logo" src="images/starfleet.png">
      </div>
      <h1 class="display-4">Star Fleet - Enemy Vessels</h1>
      <p class="lead">There is a lot of Riff Raff in this universe but these are our Galaxy's most wanted Outsiders.</p>
    </div>
    <br>
    <div class="row gy-1 gx-1 text-contain-02">
  
      <div class="col-lg col-md-6 text-contain-01">
        
        <div class="car">
          <img src="images/villian0001.jpg" class="card-img-top w-75 press" alt="Enterprise NCC-1701">
          <div class="margin-it w-75">
            <h1 class="card-title">The Borg</h1>
            <p class="card-text">Resistence is futile.  Avoid unless you want dry skin the rest of your life.</p>
            <a href="feedback" class="btn btn-warning challenge-button feedback-btn">Feedback</a>
          </div>
        </div>
      </div> 
      <div class="col-lg col-md-6 text-contain-01">
        
        <div class="car">
          <img src="images/villian0002.jpg" class="card-img-top w-75 press" alt="Enterprise NCC-1701">
          <div class="margin-it w-75">
            <h1 class="card-title">Death Star</h1>
            <p class="card-text">Scary name but you just need to shove something down it's tailpipe to get it to blow up real good.</p>
            <a href="feedback" class="btn btn-warning challenge-button feedback-btn">Feedback</a>
          </div>
        </div>
      </div> 
      
      <div class="col-lg col-md-6 text-contain-01">
        
        <div class="car">
          <img src="images/badguy.webp" class="card-img-top w-75 press" alt="Enterprise NCC-1701">
          <div class="margin-it w-75">
            <h1 class="card-title">Razor Ramon</h1>
            <p class="card-text">He is the bad guy.  Avoid at all costs cause he has way too much Machismo.</p>
            <a href="feedback" class="btn btn-warning challenge-button feedback-btn">Feedback</a>
          </div>
        </div>
      </div>

    </div> 
  </div>





<%- include("footer")-%>