<%- include("header")-%>
<%- include("banner")-%>



<div class="jumbotron mt-5">
  
  <div class="container gallery">
    <div class="contain">
      <div><img class="ctf-logo" src="images/starfleet.png"></div>
    <h1 class="display-4">Star Fleet - Flagships</h1>
    <p class="lead">USS Enterprise is the Flagship of the Federation. The most notable were Captain James T. Kirk's USS Enterprise (NCC-1701-A) and Captain Jean-Luc Picard's USS Enterprise (NCC-1701-D & E).</p>
    </div>
    <div class="row gy-1 gx-1">
  
      <div class="col-lg col-lg-6">
        <div class="card">
          <img src="images/ship0007.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701</h5>
            <p class="card-text">The TIE Advanced x1 is the Rolls Royce of TIE Fighters. This is an advanced prototype that Darth Vader flew himself.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card">
          <img src="images/ship0008.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701A">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701A</h5>
            <p class="card-text">The first time we saw this mammoth Star Destroyer was in Empire Strikes Back. It comes in at 1.6 kilometers long.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0009.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701B">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701B</h5>
            <p class="card-text">This shuttle is  for transporting important members of The Empire, like Darth Vader, Emperor & Royal Guard..</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0010.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701C">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701C</h5>
            <p class="card-text">An extensively modified Corellian light freighter, the Falcon is a legend in smuggler circles.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>

    </div>
  
  
  
  
  
    <div class="row gy-1 gx-5">
  
      
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0011.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701D">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701D</h5>
            <p class="card-text">The Y-wing is a workhorse starfighter has been in use since the Clone Wars. Used for dogfights.</p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg col-lg-6">
        <div class="card ">
          <img src="images/ship0012.jpg" class="card-img-top w-100 press" alt="Enterprise NCC-1701E">
          <div class="card-body">
            <h5 class="card-title">Enterprise NCC-1701</h5>
            <p class="card-text">The X-wing is a versatile Rebel Alliance starfighter that balances speed with firepower. </p>
            <a href="feedback" class="btn btn-warning challenge-button">Feedback</a>
          </div>
        </div>
      </div>
  
    </div>
  </div>





<%- include("footer")-%>