<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <script src="scripts\scripts.js"></script>
    
    <meta name="description" content="Funky Robot is where Carlos will showcase his amazing Web Development skills with his DJ & Photo Booth Company located in Hamilton, Ontario.  ">
    <title>Star Nerd Gallery</title>
    
    <link rel="stylesheet" href="icofont/icofont.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Atma:wght@500&display=swap"
    rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="icofont/space-shuttle.ico">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script> 
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/user.css">
  </head>
  <body>
    
    <!-- NAVBAR -->

<div>
  
  

  <nav>
    <div class="container">
      <div class="contain">
        
          <ul class="nav justify-content-center mt-2">
            <li class="nav-item">
              <a class="nav-link challenge-button" href="index">Main</a>
            </li>
            
              <li class="nav-item">
                <a class="nav-link challenge-button middle" href="gallery">Star Wars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link challenge-button middle" href="gallery-01">Star Trek</a>
              </li>
              <li class="nav-item">
                <a class="nav-link challenge-button middle" href="gallery-02">Bad Guys</a>
              </li>
            
            
            <li class="nav-item">
              <a class="nav-link challenge-button" href="feedback">Feedback</a>
            </li>
            
          </ul>
        </div>
        
      </div>
    </div>
    
  </nav>

  

</div>