<%- include("header")-%>
<%- include("banner")-%>


<div class="jumbotron">
  <div class="container">
    <div>
      <img class="ctf-logo" src="images/starfleet.png">
    </div>
    <div>
      <h1 class="display-4">Star Fleet - Flagships</h1>
      <p class="lead">USS Enterprise is the Flagship of the Federation. The most notable were Captain James T. Kirk's USS Enterprise (NCC-1701-A) and Captain Jean-Luc Picard's USS Enterprise (NCC-1701-D & E).</p>
    </div>
  </div>
</div>

<div class="container">
    <div class="tweets"><a class="twitter-timeline" data-theme="dark" href="https://twitter.com/FunkyRobot73?ref_src=twsrc%5Etfw">Tweets by FunkyRobot73</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
  </div>

  



<%- include("footer")-%>