software-solutions/node_modules/
jla-database-app/node_modules/
/jla-database-app/node_modules/
jla-database-app/node_modules/*
/jla-database-app/node_modules/*
/jla-database-app/node_modules
jla-database-app/node_modules