
  <!-- Banner -->

  <div class="container-fluid text-center">
    <div class="row" style='text-align:center;background-image: url(images/bg-steel.jpg);background-repeat:no-repeat;background-size: 100%;' id="mainpage">
      <div class="col-1 col-md-1 logo-link"></div>
      <div class="col-3 col-md-4 logo-link">
        <h1 class="link-01 link-left"><a class="nav-link" href="customers.ejs">Our Customers</a></h1>
        <h1 class="link-02 link-left"><a class="nav-link" href="fields.ejs">Our Fields</a></h1>
      </div>
      <div class="col-3 col-md-2 img-logo">
        <img src="images/robot-01.jpg" class="logo-image">
      </div>
      <div class="col-3 col-md-4 logo-link">
        <h1 class="link-03  link-right"><a class="nav-link" href="careers.ejs">Our Careers</h1></a>
        <h1 class="border link-04 link-right"><a class="nav-link" href="regrets.ejs">Our Regrets</h1></a>
      </div>
      <div class="col-1 col-md-1 logo-link"></div>
    </div>
  </div>
