
  <!-- Footer -->

  <footer>
    <div class="container-fluid text-center footer">
      <div class="row" style='text-align:center;background-image: url(images/bg-steel.jpg);background-repeat:no-repeat;background-size: 100%;' id="mainpage">
        <div class="col-1 col-md-1 logo-link"></div>
        <div class="col-3 col-md-4 logo-link">
          <h1 class="link-footer link-left"><a class="nav-link" href="customers">Our Customers</h1></a>
          <h1 class="link-footer link-left"><a class="nav-link" href="fields">Our Fields</a></h1>
        </div>
        <div class="col-3 col-md-2 img-logo">
          <img src="images/robot-02.png" class="logo-image2">
        </div>
        <div class="col-3 col-md-4 logo-link">
          <h1 class="link-footer  link-right"><a class="nav-link" href="careers">Our Careers</h1></a>
          <h1 class="border link-footer link-right"><a class="nav-link" href="regrets">Our Regrets</h1></a>
        </div>
        <div class="col-1 col-md-1 logo-link"></div>
      </div>
    </div>
  </footer>
