<%- include("header")-%>
<%- include("banner")-%>


<!-- JS Script Stuff -->
<div>
<p id="demo-01"></p>
<p id="demo-02"></p>
<p id="demo-03"></p>

<p id="demo-04"></p>
<p id="demo-05"></p>
<p id="demo-06"></p>
</div>

<%- include("footer")-%>